.main{
  color: #202232;
  font-weight: 500;
}
.container {
  margin: auto;
  max-width: 850px;
  font-family: sans-serif;
}

.heading {
  color: #0D7F13;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}

.site-title {
    font-size: 2.5rem;
    color: #FA7921;
    font-weight: 600;
    margin: 1.2rem 0;
  }