.container {
  margin: auto;
  max-width: 950px;
  font-family: sans-serif;
}

.heading {
  color: rgb(13, 127, 19);
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}
